@{
	Layout = "";
}


@model List<BankDto>
<span class="partial-counter" data-elements-count="@ViewBag.ElementsCount" style="display: none"></span>
@foreach (BankDto bank in Model)
{
	<div class="element-block partial-view-element-block" data-search-value="@ViewBag.SearchFilter">
		<a href="" class="text-reset text-decoration-none info-card">
			<img src="@bank.BankLogoPath" alt="Bank logo" class="logo" />
			<table class="element-table">
				<tr>
					<th class="bank-name-text">
						@bank.BankName
					</th>
				</tr>
				<tr>
					<th class="d-flex flex-row gap-2">
						<img src="~/images/main-page/star.svg" alt="rating" class="rating-icon" />
						@bank.Rating
					</th>
				</tr>
				<tr>
					<th>
						We have @bank.ActiveClientsCount active clients
					</th>
				</tr>
			</table>
		</a>

		<div class="action-buttons">
			<form asp-controller="Bank" asp-action="UpdateBank" asp-route-bankId=@bank.Id id="add-form" method="get">
				<input name="elementsToLoad" class="update-bank-input" type="hidden">
				<input name="orderMethod" class="update-bank-input-method" type="hidden">
				<input name="searchValue" class="update-bank-input-search" type="hidden">
				<input name="licenseFilter" class="update-bank-input-license-filter" type="hidden">
				<input name="siteFilter" class="update-bank-input-site-filter" type="hidden">
				<input name="ratingFilter" class="update-bank-input-rating-filter" type="hidden">
				<input name="clientsCountFilter" class="update-bank-input-clients-filter" type="hidden">
				<input name="capitalizationFilter" class="update-bank-input-capitalization-filter" type="hidden">
				<button class="update-element" type="submit">Update Bank</button>
			</form>
			<button class="delete-element" data-element-id="@bank.Id">Delete Bank</button>
		</div>
	</div>
}