@model List<BankDto>
@{
	int basicCount = Model.Count;
	if (Model.Count >= 6) basicCount = 6;
	if (ViewBag.StartCount != null && ViewBag.StartCount>=6) basicCount = ViewBag.StartCount;
}


<div class="main-content-block">

	@if(Model.Count==0)
	{
		<h4 class="empty-list mt-5">
			Bank list is empty, you can create bank by button bellow
		</h4>
	}
	<div id="elements-block" data-elements-list-count="@ViewBag.ModelCount">
		@for(int i=0; i<basicCount; i++)
		{
			BankDto bank = Model[i];
			<div class="element-block">
				<a href="" class="text-reset text-decoration-none">
					<table class="element-table">
						<tr>
							<th>
								Bank name: @bank.BankName
							</th>
						</tr>
						<tr>
							<th>
								Our rating is @bank.Rating
							</th>
						</tr>
						<tr>
							<th>
								We have @bank.ActiveClientsCount active clients
							</th>
						</tr>
					</table>
				</a>

				<div class="action-buttons">
					<form asp-controller="Bank" asp-action="UpdateBank" asp-route-bankId=@bank.Id id="add-form" method="get">
						<input name="loadPageCount" class="update-bank-input" type="hidden">
						<button class="update-element" type="submit">Update Bank</button>
					</form>
					<button class="delete-element" data-element-id="@bank.Id">Delete Bank</button>
				</div>
			</div>
		}
	</div>

	<div class="d-flex flex-row align-items-center action-panel gap-4">
		<button class="load-more" id="load-banks">Load More</button>
		<form asp-controller="Bank" asp-action="AddBank" id="add-form" method="get">
			<input name="loadPageCount" id="add-bank-input" type="hidden">
			<button class="add-element" type="submit">Add Bank</button>
		</form>
	</div>
</div>

@section backButton {
	<a asp-controller="Home" asp-action="Index" class="text-reset text-decoration-none back-link d-flex align-items-center">
		<img src="~/images/main-page/arrow-to-left-icon.svg" alt="Back" />
	</a>
}
@section additionalScripts {
	<script src="~/js/LoadItems.js"></script>
	<script src="~/js/DeleteItemHandler.js"></script>
	<script src="~/js/ColumsHandler.js"></script>
}
@section ColumsHandler{
	<div id="colums" class="d-flex flex-row gap-1">
		<img src="~/images/main-page/one-column.svg" class="chosen" id="one-column" alt="One column" />
		<img src="~/images/main-page/two-columns.svg" id="two-columns" alt="Two columns" />
	</div>
}