@model List<BankDto>

<div class="main-content-block">

	<h4 class="empty-list " id="empty-list-title">
		Bank list is empty, you can create bank by button bellow
	</h4>

	<div id="elements-block" data-elements-list-count="@ViewBag.ModelCount" data-order-method="@ViewBag.OrderMethod"
		 data-search-value="@ViewBag.SearchFilter" data-filters='@Html.Raw(JsonConvert.SerializeObject(ViewBag.FiltersValue))'>
		@foreach(BankDto bank in Model)
		{
			<div class="element-block">
				<a href="" class="text-reset text-decoration-none">
					<table class="element-table">
						<tr>
							<th>
								<img src="@bank.BankLogoPath" alt="Bank logo" />
							</th>
						</tr>
						<tr>
							<th>
								Bank name: @bank.BankName
							</th>
						</tr>
						<tr>
							<th>
								Our rating is @bank.Rating
							</th>
						</tr>
						<tr>
							<th>
								We have @bank.ActiveClientsCount active clients
							</th>
						</tr>
					</table>
				</a>

				<div class="action-buttons">
					<form asp-controller="Bank" asp-action="UpdateBank" asp-route-bankId=@bank.Id id="add-form" method="get">
						<input name="elementsToLoad" class="update-bank-input" type="hidden">
						<input name="orderMethod" class="update-bank-input-method" type="hidden">
						<input name="searchValue" class="update-bank-input-search" type="hidden">
						<input name="licenseFilter" class="update-bank-input-license-filter" type="hidden">
						<input name="siteFilter" class="update-bank-input-site-filter" type="hidden">
						<input name="ratingFilter" class="update-bank-input-rating-filter" type="hidden">
						<input name="clientsCountFilter" class="update-bank-input-clients-filter" type="hidden">
						<input name="capitalizationFilter" class="update-bank-input-capitalization-filter" type="hidden">
						<button class="update-element" type="submit">Update Bank</button>
					</form>
					<button class="delete-element" data-element-id="@bank.Id">Delete Bank</button>
				</div>
			</div>
		}
	</div>

	<div class="d-flex flex-row align-items-center action-panel gap-4">
		<button class="load-more" id="load-banks">Load More</button>
		<form asp-controller="Bank" asp-action="AddBank" id="add-form" method="get">
			<input name="elementsToLoad" id="add-bank-input" type="hidden">
			<input name="orderMethod" id="add-bank-input-method" type="hidden">
			<input name="searchValue" id="add-bank-input-search" type="hidden">
			<input name="licenseFilter" id="add-bank-input-license-filter" type="hidden">
			<input name="siteFilter" id="add-bank-input-site-filter" type="hidden">
			<input name="ratingFilter" id="add-bank-input-rating-filter" type="hidden">
			<input name="clientsCountFilter" id="add-bank-input-clients-filter" type="hidden">
			<input name="capitalizationFilter" id="add-bank-input-capitalization-filter" type="hidden">
			<button class="add-element" type="submit">Add Bank</button>
		</form>
	</div>
</div>

@section backButton {
	<a asp-controller="Home" asp-action="Index" class="text-reset text-decoration-none back-link d-flex align-items-center">
		<img src="~/images/main-page/arrow-to-left-icon.svg" alt="Back" />
	</a>
}
@section ColumsHandler{
	<div id="colums" class="d-flex flex-row gap-1">
		<img src="~/images/main-page/one-column.svg" class="chosen" id="one-column" alt="One column" />
		<img src="~/images/main-page/two-columns.svg" id="two-columns" alt="Two columns" />
	</div>
}
@section Search{
	<div id="search" class="d-flex flex-row align-items-center">
		<div id="find-element" class="d-flex flex-row align-items-center">
			<input type="text" name="SearchBankName" id="search-input" placeholder="Enter the bank name" />
			<button id="search-button">Search</button>
		</div>

		<div id="filters" class="d-flex flex-row align-items-center">
			<img src="~/images/main-page/sort-icon.svg" alt="Sort" id="sort-icon" />
			<div id="banks-sort-list">
				<label>
					<input type="radio" name="sort" value="oldest" checked>
					The oldest banks
				</label>

				<label>
					<input type="radio" name="sort" value="newest">
					The newest banks
				</label>

				<label>
					<input type="radio" name="sort" value="rating-descending">
					By rating
				</label>

				<label>
					<input type="radio" name="sort" value="popularity-descending">
					By popularity
				</label>

			</div>
			<img src="~/images/main-page/filter-icon.svg" alt="Filter" id="filter-icon" />

			<div id="filter-list">
				<label>
					<input type="checkbox" name="filter" value="license-required" />
					Only bank with licenses
				</label>

				<label>
					<input type="checkbox" name="filter" value="site-required" />
					Only bank with sites
				</label>

				<label>
					<input type="checkbox" name="filter" value="rating" class="value-filter" />
					Minimal rating
					<input type="number" name="filter" class="rating" min="1" max="5" step="0.1" disabled />
				</label>

				<label>
					<input type="checkbox" name="filter" value="clients-count" class="value-filter" />
					Minimal clients count
					<input type="number" name="filter" class="clients-count" min="0" disabled />
				</label>

				<label>
					<input type="checkbox" name="filter" value="capitalization" class="value-filter" />
					Minimal capitalization
					<input type="number" name="filter" class="capitalization" min="0" disabled />
				</label>

				<button id="submit-filters">Use Filters</button>
			</div>

		</div>
	</div>
}

@section additionalScripts {
	<script type="module" src="~/js/entities/BankList.js" defer></script>
	<script type="module" src="~/js/GenetalListEvents.js" defer></script>
}