@model BankDto


<div class="main-content-block">
    <div class="add-entity-block">
        <form asp-controller="Bank" asp-action="UpdateBank" method="post" class="add-form">
            <input asp-for="BankName" placeholder="Bank Name:">
            <input asp-for="Rating" step="0.1" placeholder="Rating:" oninput="this.value = this.value.replace('.', ',')">
            <div class="radio-elements">
                <span>Bank has a license?</span>
                <div class="radio-buttons">
                    <label>
                        <input asp-for="HasLicense" type="radio" value="true" /> Yes
                    </label>
                    <label>
                        <input asp-for="HasLicense" type="radio" value="false" /> No
                    </label>
                </div>
            </div>
            <input asp-for="BankFounderFullName" placeholder="Founder Name:">
            <input asp-for="BankDirectorFullName" placeholder="Director Name:">
            <input asp-for="Capitalization" placeholder="Capitalization:">
            <input asp-for="WebsiteUrl" placeholder="Website Url(optional):">
            <input asp-for="ContactPhone" type="number" placeholder="Contact Phone:">
            <input asp-for="EstablishedDate" type="hidden" value="@Model.EstablishedDate">
            <input asp-for="LegalAddress" placeholder="Legal Address:">

            @if (ViewBag.Message != null)
            {
                @if (ViewBag.Message == "Success!")
                {
                    <span class="success-message">@ViewBag.Message</span>
                }
                @if (ViewBag.Message != "Success!")
                {
                    <div class="error-validation-message">
                        <span>@ViewBag.Message</span>
                        <ul>
                            @foreach (var error in ViewBag.Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                }

            }

            <input name="elementsToLoad" type="hidden" value="@ViewBag.StartCount">
            <input name="orderMethod" type="hidden" value="@ViewBag.OrderMethod">
            <input name="searchValue" type="hidden" value="@ViewBag.SearchFilter">
            <input name="licenseFilter" type="hidden" value="@ViewBag.FiltersValue["LicenseFilter"]">
            <input name="siteFilter" type="hidden" value="@ViewBag.FiltersValue["SiteFilter"]">
            <input name="ratingFilter" type="hidden" value="@ViewBag.FiltersValue["RatingFilter"]">
            <input name="clientsCountFilter" type="hidden" value="@ViewBag.FiltersValue["ClientsCountFilter"]">
            <input name="capitalizationFilter" type="hidden" value="@ViewBag.FiltersValue["CapitalizationFilter"]">

            <button type="submit" class="create-element">Update Bank</button>
        </form>
    </div>

</div>

@section backButton {
    @if (ViewBag.StartCount != null)
    {
        <a asp-controller="Bank" asp-action="BanksList" asp-route-elementsToLoad="@ViewBag.StartCount"
           asp-route-searchValue="@ViewBag.SearchFilter" asp-route-orderMethod="@ViewBag.OrderMethod"
           asp-route-licenseFilter="@ViewBag.FiltersValue["LicenseFilter"]" asp-route-siteFilter="@ViewBag.FiltersValue["SiteFilter"]"
           asp-route-ratingFilter="@ViewBag.FiltersValue["RatingFilter"]" asp-route-clientsCountFilter="@ViewBag.FiltersValue["ClientsCountFilter"]"
           asp-route-capitalizationFilter="@ViewBag.FiltersValue["CapitalizationFilter"]"
           class="text-reset text-decoration-none back-link d-flex align-items-center">
            <img src="~/images/main-page/arrow-to-left-icon.svg" alt="Back" />
        </a>
    }
    else
    {
        <a asp-controller="Bank" asp-action="BanksList" class="text-reset text-decoration-none back-link d-flex align-items-center">
            <img src="~/images/main-page/arrow-to-left-icon.svg" alt="Back" />
        </a>
    }
}


