@model BankDto


<div class="main-content-block">
    <div class="add-entity-block">
        <form asp-controller="Bank" asp-action="UpdateBank" method="post" class="add-form" enctype="multipart/form-data">
            <h2>Update Bank</h2>
            <label>
                Bank Logo:
                <div class="file-wrapper">
                    <input name="bankLogo" type="file">
                </div>
            </label>
            <label>
                Bank Name:
                <input asp-for="BankName">
            </label>
            <label>
                Rating:
                <input asp-for="Rating" step="0.1" maxlength="3" required oninput="this.value = this.value.replace('.', ',')">
            </label>
            <div class="radio-elements">
                <label>Bank has a license?</label>
                <label>
                    <input asp-for="HasLicense" type="radio" value="true" /> Yes
                </label>
                <label>
                    <input asp-for="HasLicense" type="radio" value="false" /> No
                </label>
            </div>
            <label>
                Founder Name:
                <input asp-for="BankFounderFullName">
            </label>
            <label>
                Director Name:
                <input asp-for="BankDirectorFullName">
            </label>
            <label>
                Capitalization:
                <input asp-for="Capitalization">
            </label>
            <label>
                Website Url (optional):
                <input asp-for="WebsiteUrl">
            </label>
            <label>
                Contact Phone:
                <input asp-for="ContactPhone" type="number">
            </label>
            <label>
                Legal Address:
                <input asp-for="LegalAddress" placeholder="">
            </label>

            @if (ViewBag.Message != null)
            {
                @if (ViewBag.Message == "Success!")
                {
                    <span class="success-message">@ViewBag.Message</span>
                }
                @if (ViewBag.Message != "Success!")
                {
                    <div class="error-validation-message">
                        <span>@ViewBag.Message</span>
                        <ul>
                            @foreach (var error in ViewBag.Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                }

            }

            <input name="elementsToLoad" type="hidden" value="@ViewBag.StartCount">
            <input name="orderMethod" type="hidden" value="@ViewBag.OrderMethod">
            <input name="searchValue" type="hidden" value="@ViewBag.SearchFilter">
            <input name="licenseFilter" type="hidden" value="@ViewBag.FiltersValue["LicenseFilter"]">
            <input name="siteFilter" type="hidden" value="@ViewBag.FiltersValue["SiteFilter"]">
            <input name="ratingFilter" type="hidden" value="@ViewBag.FiltersValue["RatingFilter"]">
            <input name="clientsCountFilter" type="hidden" value="@ViewBag.FiltersValue["ClientsCountFilter"]">
            <input name="capitalizationFilter" type="hidden" value="@ViewBag.FiltersValue["CapitalizationFilter"]">

            <button type="submit" class="create-element">Update Bank</button>
        </form>
    </div>

</div>

@section backButton {
    @if (ViewBag.StartCount != null)
    {
        <a asp-controller="Bank" asp-action="BanksList" asp-route-elementsToLoad="@ViewBag.StartCount"
           asp-route-searchValue="@ViewBag.SearchFilter" asp-route-orderMethod="@ViewBag.OrderMethod"
           asp-route-licenseFilter="@ViewBag.FiltersValue["LicenseFilter"]" asp-route-siteFilter="@ViewBag.FiltersValue["SiteFilter"]"
           asp-route-ratingFilter="@ViewBag.FiltersValue["RatingFilter"]" asp-route-clientsCountFilter="@ViewBag.FiltersValue["ClientsCountFilter"]"
           asp-route-capitalizationFilter="@ViewBag.FiltersValue["CapitalizationFilter"]"
           class="text-reset text-decoration-none back-link d-flex align-items-center">
            <img src="~/images/main-page/arrow-to-left-icon.svg" alt="Back" />
        </a>
    }
    else
    {
        <a asp-controller="Bank" asp-action="BanksList" class="text-reset text-decoration-none back-link d-flex align-items-center">
            <img src="~/images/main-page/arrow-to-left-icon.svg" alt="Back" />
        </a>
    }
}

@section additionalScripts {
    <script type="module" src="~/js/entities/bank/BankMenu.js" defer></script>
}

