@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<BankDto>

<div class="main-content-block">
	<h4 id="chose-bank">@Localizer["choseToAddCard"]</h4>
	<span id="span-info" data-entity="@ViewBag.Entity" style="display:none"></span>
	<span class="elements-count" data-elements-list-count="@ViewBag.Count" style="display: none"></span>

	<div id="elements-block">
		@foreach (BankDto bank in Model)
		{
			<div class="element-block">
				<a href="/add-@ViewBag.Entity/bank-id/@bank.Id" class="text-reset text-decoration-none info-card">
					<img src="/@bank.BankLogoPath" alt="Bank logo" class="logo" />
					<table class="element-table">
						<tr>
							<th>
								@bank.BankName
							</th>
						</tr>
						<tr>
							<th class="d-flex flex-row gap-2">
								<img src="~/images/main-page/star.svg" alt="rating" class="rating-icon" />
								@bank.Rating
							</th>
						</tr>
						<tr>
							<th>
								@Localizer["weHave"] @bank.ActiveClientsCount @Localizer["activeClients"]
							</th>
						</tr>
					</table>
				</a>
			</div>
		}
	</div>
	<div class="d-flex flex-row align-items-center action-panel gap-4">
		<button class="load-more" id="load-banks">@Localizer["loadButton"]</button>
	</div>
</div>

@section backButton {
	@switch (ViewBag.ReturnActionUrl)
	{
		case "cardTariffsList":
			<a asp-controller="CardTariffs" asp-action="CardTariffsList" class="text-reset text-decoration-none back-link d-flex align-items-center">
				<img src="~/images/main-page/arrow-to-left-icon.svg" alt="Back" />
			</a>
			break;
		default:
			<a asp-controller="Home" asp-action="Index" class="text-reset text-decoration-none back-link d-flex align-items-center">
				<img src="~/images/main-page/arrow-to-left-icon.svg" alt="Back" />
			</a>
			break;
	}

}
@section ColumsHandler {
	<div id="colums" class="d-flex flex-row gap-1">
		<img src="~/images/main-page/one-column.svg" class="chosen" id="one-column" alt="One column" />
		<img src="~/images/main-page/two-columns.svg" id="two-columns" alt="Two columns" />
	</div>
}
@section Search {
	<form asp-controller="Bank" asp-action="LoadBanksForChose" asp-route-entity="@ViewBag.Entity" id="search" class="d-flex flex-row align-items-center" method="post">
		<div  id="find-element" class="d-flex flex-row align-items-center">
			<input type="text" name="SearchValue" id="search-input" placeholder="@Localizer["enterBankName"]" />
			<button type="button" class="filter-submit-button" id="search-button">@Localizer["searchButton"]</button>
		</div>
		<input type="hidden" name="FirstElement"/>
		<input type="hidden" name="ElementsToLoad"/>
		<!--Sorting-->
		<div id="filters" class="d-flex flex-row align-items-center">
			<img src="~/images/main-page/sort-icon.svg" alt="Sort" id="sort-icon" />
			<div id="sort-list">
				<label>
					<input type="radio" name="SortValue" value="oldest" checked>
					@Localizer["oldest"]
				</label>

				<label class="header-label mt-1">
					<input type="radio" name="SortValue" value="newest">
					@Localizer["newest"]
				</label>

				<label class="header-label mt-1">
					<input type="radio" name="SortValue" value="rating-descending">
					@Localizer["byRating"]
				</label>

				<label class="header-label mt-1">
					<input type="radio" name="SortValue" value="popularity-descending">
					@Localizer["byPopularity"]
				</label>

			</div>
			<img src="~/images/main-page/filter-icon.svg" alt="Filter" id="filter-icon" />

			<!--Filters-->
			<div id="filter-list">
				<label class="header-label">
					<input type="checkbox" name="licenseFilter" class="filter bool-filters" value="false" />
					@Localizer["license"]
				</label>

				<label class="header-label mt-1">
					<input type="checkbox" name="siteFilter" class="filter bool-filters" value="false" />
					@Localizer["sites"]
				</label>

				<label class="header-label mt-1">
					<input type="checkbox" name="filter" value="rating" class="filter value-filter" />
					@Localizer["minRating"]
					<input type="number" name="ratingFilter" class="rating" min="1" max="5" step="0.1" disabled />
				</label>

				<label class="header-label mt-1">
					<input type="checkbox" name="filter" value="clients-count" class="filter value-filter" />
					@Localizer["minClients"]
					<input type="number" name="clientsCountFilter" class="clients-count" min="0" disabled />
				</label>

				<label class="header-label mt-1">
					<input type="checkbox" name="filter" value="capitalization" class="filter value-filter" />
					@Localizer["minCapitalization"]
					<input type="number" name="capitalizationFilter" class="capitalization" min="0" disabled />
				</label>

				<button type="button" class="filter-submit-button" id="submit-filters">@Localizer["useFilters"]</button>
			</div>

		</div>
	</form>
}

@section additionalScripts {
	<script type="module" src="~/js/GenetalListEvents.js" defer></script>
	<script type="module" src="~/js/entities/bank/ChoseBank.js" defer></script>
}
